<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.afive.wecheck.article.mapper.ArticleMapper">

<!-- &gt;= 는 >= , &lt; 는 < 를 의미 -->
	<select id="getList"
		resultType="org.afive.wecheck.article.bean.ArticleBean">
    	SELECT `articleID`, `title`, `userID`, `state`,`articleGroupID`, `privacy`,`contents`,  `regionID`, `unitID`,
		DATE_FORMAT(postedDate,'%Y-%m-%d %H:%i:%s') as postedDate,
		DATE_FORMAT(lastEditedDate,'%Y-%m-%d %H:%i:%s') as lastEditedDate,
		DATE_FORMAT(deletedTime,'%Y-%m-%d %H:%i:%s') as deletedTime
		FROM	article
		WHERE	privacy &lt;= #{privacy} AND state = 0
		<if test = 'sort != null and sort.equals("0")'>
			AND articleID &lt; #{lastItemID} order by postedDate desc
		</if>
		<if test = 'sort != null and sort.equals("1")'>
			AND articleID &gt; #{lastItemID} order by postedDate
		</if>
		limit #{size}
		;
	</select>
	
	<select id="getListFromArticleGroup"
		resultType="org.afive.wecheck.article.bean.ArticleBean">
    	SELECT `articleID`, `title`, `userID`, `state`,`articleGroupID`, `privacy`,`contents`,  `regionID`, `unitID`,
		DATE_FORMAT(postedDate,'%Y-%m-%d %H:%i:%s') as postedDate,
		DATE_FORMAT(lastEditedDate,'%Y-%m-%d %H:%i:%s') as lastEditedDate,
		DATE_FORMAT(deletedTime,'%Y-%m-%d %H:%i:%s') as deletedTime
		FROM article
		WHERE (articleGroupID=#{articleGroupID} AND #{privacy} &gt;= privacy
		AND state = 0)
		<if test = 'sort != null and sort.equals("0")'>
			AND articleID &lt; #{lastItemID} order by postedDate desc
		</if>
		<if test = 'sort != null and sort.equals("1")'>
			AND articleID &gt; #{lastItemID} order by postedDate
		</if>
		limit #{size}
		;
	</select>
	
	<select id="get"  parameterType="String" resultType="org.afive.wecheck.article.bean.ArticleBean">
    	SELECT `articleID`, `title`, `userID`, `state`,`articleGroupID`, `privacy`,`contents`,  `regionID`, `unitID`,
		DATE_FORMAT(postedDate,'%Y-%m-%d %H:%i:%s') as postedDate,
		DATE_FORMAT(lastEditedDate,'%Y-%m-%d %H:%i:%s') as lastEditedDate,
		DATE_FORMAT(deletedTime,'%Y-%m-%d %H:%i:%s') as deletedTime
    	FROM	article
  		WHERE	articleID = #{articleID};
  	</select>

	<!-- <select id="get" parameterType="String"
		resultType="org.afive.wecheck.article.bean.ArticleBean">
		SELECT *
		FROM accessToken
		WHERE accessTokenID = #{accessTokenID};
	</select>

	<insert id="register"
		parameterType="org.afive.wecheck.article.bean.ArticleBean">
		INSERT INTO accessToken
			(accessTokenID, snsLoginID, uuid, deviceType, registeredTime)
		VALUES
		(
		#{accessTokenID},
		#{snsLoginID}, 
		#{uuid},
		#{deviceType},
		#{registeredTime}
		);
		
	</insert>

	<update id="update"
		parameterType="org.afive.wecheck.article.bean.ArticleBean">
		UPDATE fcm
		SET isExpired=#{isExpired}
		WHERE accessTokenID = #{accessTokenID};
	</update>

	<delete id="delete" parameterType="org.afive.wecheck.article.bean.ArticleBean">
		DELETE
		FROM accessToken
		WHERE snsLoginID = #{snsLoginID}
		AND uuid = #{uuid}
		AND deviceType = #{deviceType};
	</delete> -->
</mapper>
