<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.afive.wecheck.attendance.AttendanceMapper">

	<select id="getList" resultType="org.afive.wecheck.attendance.AttendanceBean">
		SELECT	*
		FROM attendance;
	</select>

    <select id="get" parameterType="String" resultType="org.afive.wecheck.attendance.AttendanceBean">
    	SELECT	*
    	FROM	attendance
    	WHERE	attendanceID = #{attendanceID};
    </select>
    
    <select id="getIfExists" resultType="org.afive.wecheck.attendance.AttendanceBean">
    	SELECT	*
    	FROM	attendance
    	WHERE	churchServiceID = #{churchServiceID} AND userID = #{userID};
    </select>
    
    <insert id="register" parameterType="org.afive.wecheck.attendance.AttendanceBean" useGeneratedKeys="true" keyProperty="attendanceID">
    	INSERT INTO attendance 
    		(churchServiceID, userID, attendanceTime)
    	VALUES
    		(#{churchServiceID}, #{userID}, #{attendanceTime});
    </insert>
  	  	
  	<select id="checkAttendance" parameterType="hashmap" resultType = "org.afive.wecheck.attendance.AttendanceBean">
  		SELECT	*
  		FROM	attendance
  		WHERE	userID = #{userID}
  		AND		churchServiceID = #{churchServiceID};
  	</select>
  	
  	<!-- last edited 2019/03/05 , 천복궁 예배에 한정해서 출석이 지역,소속 상관없이 나옴  -->
  	<select id="getAttendanceList" parameterType="hashmap" resultType = "org.afive.wecheck.attendance.AttendanceResult">
  		SELECT	attendance.attendanceID,
  				churchService.churchServiceID,
  				churchService.state as churchServiceState,
  				DATE_FORMAT(churchService.startTime,'%Y-%m-%d %H:%i:%s') as startTime,
  				region.regionName,
  				unit.unitName
		FROM	churchService
		INNER JOIN region ON churchService.regionID = region.regionID
		INNER JOIN unit ON churchService.unitID = unit.unitID
		LEFT JOIN attendance ON attendance.churchServiceID = churchService.churchServiceID
			AND attendance.userID = #{userID}
		WHERE (churchService.state = 1 OR churchService.state = 2 OR churchService.state = 3)
		AND	churchService.churchServiceID &lt; #{lastItemID}
			order by startTime desc
			limit #{size}
			;
  	</select>
</mapper>
