<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.afive.wecheck.comment.mapper.CommentMapper">

	<select id="getList" resultType="org.afive.wecheck.comment.bean.CommentBean">
		SELECT `commentID`,  `userID`,  `privacy`,  `articleID`,  `parentID`,  `contents`,`state`,
		DATE_FORMAT(registeredTime,'%Y-%m-%d %H:%i:%s') as registeredTime,
		DATE_FORMAT(lastEditedTime,'%Y-%m-%d %H:%i:%s') as lastEditedTime,
		DATE_FORMAT(deletedTime,'%Y-%m-%d %H:%i:%s') as deletedTime
		FROM	comment;
	</select>

    <select id="get" parameterType="String" resultType="org.afive.wecheck.comment.bean.CommentBean">
		SELECT `commentID`,  `userID`,  `privacy`,  `articleID`,  `parentID`,  `contents`,`state`,
		DATE_FORMAT(registeredTime,'%Y-%m-%d %H:%i:%s') as registeredTime,
		DATE_FORMAT(lastEditedTime,'%Y-%m-%d %H:%i:%s') as lastEditedTime,
		DATE_FORMAT(deletedTime,'%Y-%m-%d %H:%i:%s') as deletedTime
    	FROM	comment
    	WHERE	commentID = #{commentID};
    </select>
    
    <insert id="register" parameterType="org.afive.wecheck.comment.bean.CommentBean" useGeneratedKeys="true" keyProperty="commentID">
    	INSERT INTO comment
    		(userID,articleID,parentID,contents,registeredTime,lastEditedTime)
    	VALUES
    		(#{userID}, #{articleID}, #{parentID}, #{contents}, #{registeredTime}, #{lastEditedTime});
    </insert>
    
    <update id="updateComment" parameterType="hashmap">
    	UPDATE	comment
    	SET		contents = #{contents},
    			lastEditedTime = #{lastEditedTime}
    	WHERE	commentID = #{commentID};
    </update>
    
    <update id="deleteComment" parameterType="hashmap">
    	UPDATE	comment
    	SET		state = #{state},
    			deletedTime = #{deletedTime}
    	WHERE	commentID = #{commentID};
    </update>
    
    <!--	댓글,대댓글 포함한 댓글개수 카운팅		-->
    <select id="getTotalCountByArticleID" resultType = "String">
  		SELECT	COUNT(*)
  		FROM	comment
  		WHERE	articleID = #{articleID};
  	</select>
  	
  	<!-- 	댓글에 대한 대댓글 개수 카운팅		-->
  	<select id="getCountByArticleAndParent" parameterType="hashmap" resultType = "String">
  		SELECT	COUNT(*)
  		FROM	comment
  		WHERE	articleID = #{articleID}
  		AND		parentID = #{parentID};
  	
  	</select>
  	
  	<select id="getListByArticleAndParent" parameterType="hashmap" resultType = "org.afive.wecheck.comment.bean.CommentBean">
		SELECT `commentID`,  `userID`,  `privacy`,  `articleID`,  `parentID`,  `contents`,`state`,
		DATE_FORMAT(registeredTime,'%Y-%m-%d %H:%i:%s') as registeredTime,
		DATE_FORMAT(lastEditedTime,'%Y-%m-%d %H:%i:%s') as lastEditedTime,
		DATE_FORMAT(deletedTime,'%Y-%m-%d %H:%i:%s') as deletedTime
  		FROM	comment
  		WHERE	(parentID = #{parentID}
  		AND		articleID = #{articleID})
  		Order by	commentID 
  		LIMIT	#{start},#{size};
  	</select>
  	

</mapper>
