<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.afive.wecheck.user.mapper.SnsLoginMapper">

    <select id="getList" resultType="org.afive.wecheck.user.bean.SnsLoginBean">
    	SELECT	*
    	FROM	snsLogin;
    </select>
    
    <select id="get" parameterType="String" resultType="org.afive.wecheck.user.bean.SnsLoginBean">
    	SELECT	*
    	FROM	snsLogin
  		WHERE	snsLoginID = #{snsLoginID};
    </select>
    
    <select id="getSnsLoginUserBean" parameterType="hashmap" resultType="org.afive.wecheck.user.bean.SnsLoginBean">
    	SELECT	*
    	FROM	snsLogin
  		WHERE	snsType = #{snsType}
  		AND		snsToken = #{snsToken};
    </select>
    
    <insert id="register" parameterType="org.afive.wecheck.user.bean.SnsLoginBean" useGeneratedKeys="true" keyProperty="snsLoginID">
    	INSERT INTO snsLogin 
    		(snsType, snsToken, registeredTime)
    	VALUES
    		(#{snsType}, #{snsToken}, #{registeredTime});
    </insert>
    
    <!-- <update id="update" parameterType="org.afive.wecheck.user.bean.UserBean">
    	UPDATE	user
    	SET		snsType = #{snsType},
    			snsID = #{snsID},
    			userType = #{userType},
    			firstName = #{firstName},
    			lastName = #{lastName},
    			regionID = #{regionID},
    			birthDay = #{birthDay},
    			profileImage = #{profileImage}
    	WHERE	userID = #{userID};
    </update>
    
    <delete id="delete" parameterType="String">
    	DELETE
    	FROM	user
    	WHERE	userID = #{userID};
    </delete> -->
</mapper>
